@using Peak.Service.SigortaOtomasyonu;
@{
    ViewBag.Title = "ComponentTanimi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html>
<head>
    <link href="~/Content/otomasyon/ComponentTanimi.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" id="bootstrap-css" />
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <script src="~/Scripts/Otomasyon/Otomasyon.js"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <br /><br />
            <h3 style="margin-left:46%;">COMPONENT TANIMI</h3>
            <h3 style="margin-left:1.3%">Component Ekle</h3>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <form>
                    <div class="form-group">
                        <label for="compkodu">Component Adı </label>
                        <input type="text" class="form-control" name="componentadi" id="componentadi" placeholder="Component Adı" required>
                    </div>
                    <div class="form-check">
                        <button type="submit" class="btn btn-primary" style="width:100%" id="kaydetcomponent" onclick="componentekle()">Kaydet</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row col-md-6 col-md-offset-2 custyle" style="width:100%;margin-right:auto;margin-left:auto">
            <br /><h3 style="margin-left:45%;">COMPONENT LİSTESİ</h3>
            <table class="table table-striped custab">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Component Adı</th>
                        <th class="text-center">Durum</th>
                    </tr>
                </thead>
                @{ SComponentListele servicesorulistele = new SComponentListele();
                    foreach (var item in servicesorulistele.componentlistele())
                    {
                        <tr id="@item.id">
                            <td>@item.id</td>
                            <td>@item.Detay1</td>

                            <td class="text-center">
                                <button type="submit" class='btn btn-info btn-xs' onclick="DuzenleGetirComponent(@item.id)"><span class="glyphicon glyphicon-edit"></span> Güncelle</button>
                                <button type="submit" class="btn btn-danger btn-xs" onclick="Sil(@item.id)"><span class="glyphicon glyphicon-remove"></span> Sil</button>
                            </td>
                        </tr>
                    }
                }
            </table>
        </div>
    </div>
</body>
</html>

